.cell{
  margin: 0;
  padding: 0;
  width: 33%;
  height: 33%;
  border:2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  color: black;
  /*
  transition-delay: 1s;
  transition-duration: 1s;
  */
}