.scroll_menu{
  overflow: auto;
  white-space: nowrap;
}

#all-body-hobbies{
  margin: 0rem;
  padding: 0rem 7%;
}

.timeline{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.event{
  position: relative;
  margin: 0rem 0%;
  padding: 1% 0%;
  border: 2px solid rgb(153, 153, 153);
  background-color: rgb(255, 240, 246);
  border-radius: 0.5rem;

}


.events{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.no-event{
  padding : 2rem;
}

.event-img{
  max-height: 100%;
  max-width: 100%;
  margin: 0% auto;
  border-radius: 0.5rem;

}

.event-title{
  position: relative;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  margin: 0% 0%;
  padding: 0% 0%;
  text-align: center;
  top : 0%
}

.timeline-item{
  position: relative;
  padding: 2rem 1rem;
  border-left: 4px solid rgb(153, 153, 153);
  background-color: azure;

  margin: 0rem 0rem;
}

.timeline-item::before{
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid rgb(15, 139, 161);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -12px; 
}

.card-img-top{ 
  margin: 0% auto;
  max-height: 10rem;
  max-width: 10rem;
}

.card-text{
  position: relative;
}

.black::after{
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom : 2px;
  left: 42px;
}

.red::after{
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  bottom : 2px;
  left: 42px; 
}

.badge-nittaku{
  background-color: blue;
  color: gold;
}

.badge-xiom{
  background-color: silver;
  color: black;
}

.badge-butterfly{
  background-color: rgb(215, 47, 120);
  color: white;
}

.video-icon{
  color: rgb(9, 27, 107);
}