body{
  background: url('../images/deep-ocean.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}

.hobby-all{
  height: 100%;
}

.outer-v{
  height: 45%;
}

.center-v{
  height: 10%;
}

.outer-button{
  width: 40%;
  height: 75%;
  border-radius: 60px ;
  background-color: antiquewhite;
}

.center-button{
  width: 15%;
  height:100%;
  border-radius: 30px;
  background-color: silver;
  font-size: 2rem;
  color:rgb(47, 50, 52);
  font-family: 'Bebas Neue', cursive;
}

@media(max-width : 768px){
  .outer-v{
    height: 40%;
  }

  .center-v{
    height: 10%;
  }

  .outer-button{
    width: 45%;
    height: 66%;
    border-radius: 50px ;
    background-color: antiquewhite;
  }

  .center-button{
    width: 60%;
    height:100%;
    border-radius: 30px;
    background-color: silver;
    font-size: 2rem;
    color:rgb(47, 50, 52);
    font-family: 'Bebas Neue', cursive;
  }
}



.outer-TT{
  background: url("../images/hobbies/TT3.gif") center no-repeat;
  background-color: aliceblue;
}

.outer-G{
  background: url("../images/hobbies/G2.gif") center no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

.outer-A{
  background: url("../images/hobbies/A3.gif") center no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

.outer-Q{
  background: url("../images/hobbies/Q.gif") center no-repeat;
  background-size: cover;
  background-color: aliceblue;
}
