.overall{
  height: 100vh;
}

.intro{
  position: relative;
  background-color: rgba(133, 145, 128, 0.188);
  height: 100%;
}

.content-background{
  background: url('../images/deep-ocean.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  transition: 0.5s;
}

nav a{
  color: rgb(244, 250, 255);
}


.my-icon{
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 5;
}

@media(max-width : 576px) {
  .hello{
    position: absolute;
    left: 8%;
    top: 20%;
    color: rgb(255, 48, 217);
    font-size: 1.3rem;
    z-index: 10;
    font-family: 'Smooch', cursive;
    transition-delay: 0.5s;
  } 
 
  .outline{
    position: absolute;
    bottom: 25%;
    right: 5%;
    z-index: 15;
  }

  nav a{
    font-size: 1.5rem;
  }
  
  .my-img{
    width: 30%;
    height: 30%;
  }
  
  .left-bottom{
    position:absolute;
    bottom: 1%;
    left: 2%;
    z-index: 11;
  }

}

@media(min-width : 576px) {
  .hello{
    position: absolute;
    left: 8%;
    top: 25%;
    color: rgb(255, 48, 217);
    font-size: 2.5rem;
    z-index: 10;
    font-family: 'Smooch', cursive;
    transition-delay: 0.5s;
  } 
 
  .outline{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 15;
  }
  
  nav a{
    font-size: 2rem;
  }
 
  .my-img{
    width: 50%;
    height: 50%;
  }
  
  .left-bottom{
    position:absolute;
    bottom: 7%;
    left: 3%;
    z-index: 11;
  }

}



