html{
  font-size: 18px ;
}

header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('../images/deep-ocean.jpg') no-repeat center ;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
  text-align: center;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}

.site-heading h1{
  font-size: 7rem;
  color: aliceblue;
}

.subheading{
  font-size: 1rem;
  color:beige;
}

.fixed-left{
  position: fixed;
  border-radius: 0;
}

.border-top{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#navbar-content{
  font-size: 1.5rem;
}
.navbar-brand{
  font-size: 1.5rem;
}
.fa-lg{
  font-size: 1.3rem;
  color: rgb(10, 10, 78);
}

#small-title{
  font-size: 1.3rem;
}
#all-body{
  margin: 0rem;
  padding: 0rem 3%;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

nav a{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.spy{
  position: relative;
  height: 80vh;
  overflow: auto;
}




/*
#container-img{
  margin-left: 0px;
}

#navbar-content{
  width: 30%;
  margin: 1rem 1rem;
}
*/